input {
  padding: 5px;
  margin: 5px;
}

.input-search {
  background-color: #282c34;
  border: none;
  border-bottom: 2px solid #aa8a8a;
  transition: 150ms all ease;
  color: #757575;
}

.input-search:focus::placeholder {
  color: #aa8a8a;
}

.input-search:focus {
  background-color: #aa8a8a;
  color: black;
}

.input-submit {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #aa8a8a;
  color: #aa8a8a;
  background-color: #282c34;
  transition: 200ms all ease;
}

.input-submit:hover {
  background-color: #aa8a8a;
  color: black;
  border-radius: 10px;
}

.error {
  margin-top: 20px;
  color: #aa8a8a;
}
